:root {
    --dark-mode-gray:#21252E;
    --dark-blue: #003691;
    --light-blue: #3D84FF;
    --dark-red: rgb(126, 21, 44);
    --soft-red: #FF0061;
    --dark-hamburger-bar-gray: #232323;
    --light-hamburger-bar-gray: #bbbbbb;

    --hr-light-gray: rgb(237, 237, 237);
    --hr-dark-gray: rgb(82, 82, 82);
    --transparent: rgba(0, 0, 0, 0);

}

* {
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
}

html {
    width: 100%;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 17pt;
}

#page-title-container {
    width: 100%;
}

#page-title {
    text-align: center;
	letter-spacing: .2em;
    font-weight: bold;
}

.jb-mono-font {
    font-family: 'JetBrains Mono', sans-serif;
    font-weight: bold;
}

hr {
    border-top: 1px solid var(--hr-light-gray);
}

.folder>h1 {
    font-size: 7vw;
    color: var(--dark-blue)
}

.folder>hr {
    border-width: 4px;
}

code {
    font-family: 'JetBrains Mono', 'SF Mono', 'monospace';
}

/***************************************************************************
    Style for larger Displays
*/
@media only screen and (min-width: 601px) {
    #page-title {
        font-size: 80px;
    }
}

/***************************************************************************
    Style for smaller Displays
*/
@media only screen and (max-width: 600px) {
	
	html {
		font-size: 13px;
	}
	
    #page-title {
        font-size: 13vw;
    }
}

/***************************************************************************
    DARK MODE
    Default on systems without a preferred color scheme
    Used by systems that prefer the dark color scheme
    Is overridden by light mode with systems that prefer the light color scheme
*/

/* @media (prefers-color-scheme: dark) { */

body {
    background: var(--dark-mode-gray);
    color: white;
}

/*
    End of Dark Mode
 **************************************************************************/

/***************************************************************************
    LIGHT MODE
    Used by systems that prefer the dark color scheme
*/
@media (prefers-color-scheme: light) {
    body {
        background: white;
        color: black;
    }

    hr {
        border-color: var(--hr-dark-gray);
    }

}
