:root {
    --dark-mode-gray:#19222A;
    --dark-blue: #003691;
    --light-blue: #3D84FF;
    --dark-red: rgb(126, 21, 44);
    --soft-red: #FF0061;
    --dark-hamburger-bar-gray: #232323;
    --light-hamburger-bar-gray: #bbbbbb;

    --hr-light-gray: rgb(237, 237, 237);
    --hr-dark-gray: rgb(82, 82, 82);
    --transparent: rgba(0, 0, 0, 0);

}

* {
    padding: 0px;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
}

html {
    width: 100%;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15pt;
}

#page-title-container {
    width: 100%;
}

#page-title {
    text-align: center;
	letter-spacing: .2em;
    font-weight: bold;
}

#content {
    margin: 8%;
}

.jb-mono-font {
    font-family: 'JetBrains Mono', sans-serif;
    font-weight: bold;
}

hr {
    border-top: 1px solid var(--hr-light-gray);
}

.folder>h1 {
    font-size: 3rem;
    color: var(--light-blue)
}

.folder>hr {
    border-width: 2px;
    margin: 0 5% 0 5%;
}

.file {
    margin: 0 5% 0 5%;
}

.file * {
    width: 80%
}
.file pre {
    display: inline;
    white-space: pre-line;
}
.file ul {
    margin-left: 0;
    padding-left: 1.2em;
}

code {
    font-family: 'JetBrains Mono', 'SF Mono', 'monospace';
}


/***************************************************************************
    Style for larger Displays
*/
@media only screen and (min-width: 601px) {
    #page-title {
        font-size: 80px;
    }
}

/***************************************************************************
    Style for smaller Displays
*/
@media only screen and (max-width: 600px) {
	
	html {
		font-size: 13px;
	}
	
    #page-title {
        font-size: 13vw;
    }
}

/***************************************************************************
    DARK MODE
    Default on systems without a preferred color scheme
    Used by systems that prefer the dark color scheme
    Is overridden by light mode with systems that prefer the light color scheme
*/

/* @media (prefers-color-scheme: dark) { */

body {
    background: var(--dark-mode-gray);
    color: white;
}

a {
    color: white;
    text-decoration: underline;
}

/*
    End of Dark Mode
 **************************************************************************/

/***************************************************************************
    LIGHT MODE
    Used by systems that prefer the dark color scheme
*/
@media (prefers-color-scheme: light) {
    body {
        background: white;
        color: black;
    }

a {
    color: black;
    text-decoration: underline;
}

    hr {
        border-color: var(--hr-dark-gray);
    }
	
	.folder>h1 {
	    color: var(--dark-blue)
	}

}
