---
layout: default
title: Collections
permalink: /collections/
---
<h1>Collections</h1>

<h2>Accessibility</h2>
<ul>
  {% for tip in site.Accessibility %}
    <li>
      <p>{{ tip.content | markdownify }}</p>
	  <hr/>
	  <hr/>
    </li>
  {% endfor %}
</ul>

<h2>Apple Development</h2>
{{site.Apple_Development}}
<ul>
  {% for tip in site.Apple\_Development %}
    <li>
      <p>{{ tip.content | markdownify }}</p>
	  <hr/>
	  <hr/>
    </li>
  {% endfor %}
</ul>

<h2>Maven</h2>
<ul>
  {% for tip in site.Maven %}
    <li>
      <p>{{ tip.content | markdownify }}</p>
	  <hr/>
	  <hr/>
    </li>
  {% endfor %}
</ul>

<h2>SQL</h2>
<ul>
  {% for tip in site.SQL %}
    <li>
      <p>{{ tip.content | markdownify }}</p>
	  <hr/>
	  <hr/>
    </li>
  {% endfor %}
</ul>

<h2>SSH</h2>
<ul>
  {% for tip in site.SSH %}
    <li>
      <p>{{ tip.content | markdownify }}</p>
	  <hr/>
	  <hr/>
    </li>
  {% endfor %}
</ul>

<h2>Terminal Tools</h2>
<ul>
  {% for tip in site.Terminal_Tools %}
    <li>
      <p>{{ tip.content | markdownify }}</p>
	  <hr/>
	  <hr/>
    </li>
  {% endfor %}
</ul>

<h2>Web Development</h2>
<ul>
  {% for tip in site.Web_Development %}
    <li>
      <p>{{ tip.content | markdownify }}</p>
	  <hr/>
	  <hr/>
    </li>
  {% endfor %}
</ul>

<h2>git</h2>
<ul>
  {% for tip in site.git %}
    <li>
      <p>{{ tip.content | markdownify }}</p>
	  <hr/>
	  <hr/>
    </li>
  {% endfor %}
</ul>

<h2>gpg</h2>
<ul>
  {% for tip in site.gpg %}
    <li>
      <p>{{ tip.content | markdownify }}</p>
	  <hr/>
	  <hr/>
    </li>
  {% endfor %}
</ul>

<h2>iOS-apps</h2>
<ul>
  {% for tip in site.iOS-apps %}
    <li>
      <p>{{ tip.content | markdownify }}</p>
	  <hr/>
	  <hr/>
    </li>
  {% endfor %}
</ul>

<h2>macOS</h2>
<ul>
  {% for tip in site.macOS %}
    <li>
      <p>{{ tip.content | markdownify }}</p>
	  <hr/>
	  <hr/>
    </li>
  {% endfor %}
</ul>

<h2>macOS-apps</h2>
<ul>
  {% for tip in site.macOS-apps %}
    <li>
      <p>{{ tip.content | markdownify }}</p>
	  <hr/>
	  <hr/>
    </li>
  {% endfor %}
</ul>

<h2>macOS-quicklook</h2>
<ul>
  {% for tip in site.macOS-quicklook %}
    <li>
      <p>{{ tip.content | markdownify }}</p>
	  <hr/>
	  <hr/>
    </li>
  {% endfor %}
</ul>

<h2>markdown</h2>
<ul>
  {% for tip in site.markdown %}
    <li>
      <p>{{ tip.content | markdownify }}</p>
	  <hr/>
	  <hr/>
    </li>
  {% endfor %}
</ul>

<h2>watchOS</h2>
<ul>
  {% for tip in site.watchOS %}
    <li>
      <p>{{ tip.content | markdownify }}</p>
	  <hr/>
	  <hr/>
    </li>
  {% endfor %}
</ul>

<h2>zsh</h2>
<ul>
  {% for tip in site.zsh %}
    <li>
      <p>{{ tip.content | markdownify }}</p>
	  <hr/>
	  <hr/>
    </li>
  {% endfor %}
</ul>
