
.page-link:after{
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	
	width: 0%;
	height: 100%;
	
	border-bottom: 2px solid white;
	
	transition: width 0.3s ease;
}

.page-link:hover:after{
	left: 0;
	width: 100%;
	transition: width .3s ease;
}