:root {
  --tips-title-color: #000280;
}

.tip-title {
  font-variant: small-caps;
  font-weight: 800;
  color: var(--tips-title-color);
}

.tip-content > .subtitle {
  font-weight: 500;
  color: var(--tips-title-color);
}

.tip-content > .entry {
  padding-bottom: 3rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --tips-title-color: #ff335c;
  }
}
